body {
  background: rgb(229, 171, 181);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}



.card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  padding: 10px 18px;
  background: #642e49;
  border: none;
  border-radius: 8px;
  color:black;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #d04f8d;
}

.tasks {
  margin-top: 20px;
}

.empty {
  text-align: center;
  color: #9b7d7d;
  margin-top: 20px;
}
