body {
  background: rgb(229, 171, 181); 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-transform: capitalize;
  color: #642e49;
}

p {
  margin-top: 5px;
  color: #333;
}


.form-box {
  background: white;
  width: 380px;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  margin-top: 20px;
}

label {
  font-weight: bold;
  text-transform: capitalize;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

button {
  width: 100%;
  padding: 12px;
  background: #642e49;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background: #d04f8d;        
}

h3 {
  margin-top: 40px;
  color: #642e49;
}

#result {
  margin-top: 10px;
  font-size: 16px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 380px;
  box-shadow: 0 0 8px rgba(0,0,0,0.08);
  line-height: 1.6;
}

#total {
  font-weight: bold;
  color: #642e49;
}
